[Match]
Name=apn0)

[Link]
MTUBytes=1420

[Network]
Address=172.36.16.0/20
IPMasquerade=yes 

[Unit]
Description=Osmocom Media Gateway (MGW)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StateDirectory=osmocom
WorkingDirectory=/etc/osmocom
Restart=always
ExecStart=/usr/bin/osmo-ggsn -C /etc/osmocom/osmo-ggsn.cfg

[Install]
WantedBy=multi-user.target
